PORT=3000

# ===============================
# DATABASE CONFIGURATION
# ===============================
# PostgreSQL connection string for Prisma + Neon DB
DATABASE_URL=""


# ===============================
# MAILTRAP CONFIGURATION
# ===============================
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_SENDER_EMAIL=

# ===============================
# MAILTRAP CONFIGURATION
# ===============================
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_SENDER_EMAIL=

# ===============================
# JWT CONFIGURATION
# ===============================
JWT_SECRET=
JWT_EXPIRE_TIME=
JWT_COOKIE_EXPIRE_TIME=

# ===============================
# ENVIRONMENT SETTINGS
# ===============================
NODE_ENV=
BASE_URL=

